
# To learn about configuring soupault, visit https://www.soupault.app/reference-manual

[settings]
  # Soupault version that the config was written/generated for
  # Trying to process this config with an older version will result in an error message
  soupault_version = "4.3.1"

  # Stop on page processing errors?
  strict = true

  # Display progress?
  verbose = true

  # Display detailed debug output?
  debug = false

  # Where input files (pages and assets) are stored.
  site_dir = "site"

  # Where the output goes
  build_dir = "build"

  # Files inside the site/ directory can be treated as pages or static assets,
  # depending on the extension.
  #
  # Files with extensions from this list are considered pages and processed.
  # All other files are copied to build/ unchanged.
  #
  # Note that for formats other than HTML, you need to specify an external program
  # for converting them to HTML (see below).
  page_file_extensions = ["htm", "html", "md", "rst", "adoc"]

  # By default, soupault uses "clean ULRs",
  # that is, $site_dir/page.html is converted to $build_dir/page/index.html
  # You can make it produce $build_dir/page.tml instead by changing this option to false
  clean_urls = true

  # If you set clean_urls=false,
  # file names with ".html" and ".htm" extensions are left unchanged.
  keep_extensions = ["html", "htm"]

  # All other extensions (".md", ".rst"...) are replaced, by default with ".html"
  default_extension = "html"

  # Page files with these extensions are ignored.
  ignore_extensions = ["draft"]

  # Soupault can work as a website generator or an HTML processor.
  #
  # In the "website generator" mode, it considers files in site/ page bodies
  # and inserts them into the empty page template stored in templates/main.html
  #
  # Setting this option to false switches it to the "HTML processor" mode
  # when it considers every file in site/ a complete page and only runs it through widgets/plugins.
  generator_mode = true

  # Files that contain an <html> element are considered complete pages rather than page bodies,
  # even in the "website generator" mode.
  # This allows you to use a unique layout for some pages and still have them processed by widgets.
  complete_page_selector = "html"

  # Website generator mode requires a page template (an empty page to insert a page body into).
  # If you use "generator_mode = false", this file is not required.
  default_template_file = "templates/main.html"

  # Page content is inserted into a certain element of the page template.
  # This option is a CSS selector that is used for locating that element.
  # By default the content is inserted into the <body>
  default_content_selector = "body"

  # You can choose where exactly to insert the content in its parent element.
  # The default is append_child, but there are more, including prepend_child and replace_content
  default_content_action = "append_child"

  # If a page already has a document type declaration, keep the declaration
  keep_doctype = true

  # If a page does not have a document type declaration, force it to HTML5
  # With keep_doctype=false, soupault will replace existing declarations with it too
  doctype = "<!DOCTYPE html>"

  # Insert whitespace into HTML for better readability
  # When set to false, the original whitespace (if any) will be preserved as is
  pretty_print_html = true

  # Plugins can be either automatically discovered or loaded explicitly.
  # By default discovery is enabled and the place where soupault is looking is the plugins/ subdirectory
  # in your project.
  # E.g., a file at plugins/my-plugin.lua will be registered as a widget named "my-plugin".
  plugin_discovery = true
  plugin_dirs = ["plugins"]

[widgets.demo-styles]
  widget = "insert_html"
  html = '<link href="/demo-styles.css" rel="stylesheet">'
  selector = "head"
  parse = true

[widgets.styles-script]
  widget = "insert_html"
  html = '<script src="/styles.js"></script>'
  selector = "head"
  parse = true

[widgets.favicon]
  widget = "insert_html"
  html = '<link rel="icon" href="/favicon.ico" type="image/x-icon" />'
  selector = "head"
  parse = true

[widgets.demo-javascript]
widget = "insert_html"
html = '<script src="/index.js" type="module"></script>'
selector = "footer"
parse = true

[widgets.navigation]
  widget = "include"
  file = "templates/nav.html"
  selector = "#nav"

[widgets.add-and-remove-button-slots]
widget = "include"
file = "examples/add-and-remove-button-slots.html"
selector = ".example #add-and-remove-button-slots"

[widgets.add-custom-options-2]
widget = "include"
file = "examples/add-custom-options-2.html"
selector = ".example #add-custom-options-2"

[widgets.add-custom-options]
widget = "include"
file = "examples/add-custom-options.html"
selector = ".example #add-custom-options"

[widgets.add-option-to-a-much-select]
widget = "include"
file = "examples/add-option-to-a-much-select.html"
selector = ".example #add-option-to-a-much-select"

[widgets.add-options-including-the-selected-value]
widget = "include"
file = "examples/add-options-including-the-selected-value.html"
selector = ".example #add-options-including-the-selected-value"

[widgets.add-options-not-including-the-selected-value]
widget = "include"
file = "examples/add-options-not-including-the-selected-value.html"
selector = ".example #add-options-not-including-the-selected-value"

[widgets.add-options-to-a-multi-select-not-including-the-selected-value]
widget = "include"
file = "examples/add-options-to-a-multi-select-not-including-the-selected-value.html"
selector = ".example #add-options-to-a-multi-select-not-including-the-selected-value"

[widgets.add-possible-duplicate-option-to-a-much-select]
widget = "include"
file = "examples/add-possible-duplicate-option-to-a-much-select.html"
selector = ".example #add-possible-duplicate-option-to-a-much-select"

[widgets.allow-custom-options-with-minimum-search-string-length]
widget = "include"
file = "examples/allow-custom-options-with-minimum-search-string-length.html"
selector = ".example #allow-custom-options-with-minimum-search-string-length"

[widgets.allow-custom-options]
widget = "include"
file = "examples/allow-custom-options.html"
selector = ".example #allow-custom-options"

[widgets.an-initial-value-with-no-options]
widget = "include"
file = "examples/an-initial-value-with-no-options.html"
selector = ".example #an-initial-value-with-no-options"

[widgets.an-initial-value]
widget = "include"
file = "examples/an-initial-value.html"
selector = ".example #an-initial-value"

[widgets.change-select-attribute-changes-selected-value-in-much-select]
widget = "include"
file = "examples/change-select-attribute-changes-selected-value-in-much-select.html"
selector = ".example #change-select-attribute-changes-selected-value-in-much-select"

[widgets.change-the-dom]
widget = "include"
file = "examples/change-the-dom.html"
selector = ".example #change-the-dom"

[widgets.custom-option-label-text-2]
widget = "include"
file = "examples/custom-option-label-text-2.html"
selector = ".example #custom-option-label-text-2"

[widgets.custom-option-label-text-3]
widget = "include"
file = "examples/custom-option-label-text-3.html"
selector = ".example #custom-option-label-text-3"

[widgets.custom-option-label-text]
widget = "include"
file = "examples/custom-option-label-text.html"
selector = ".example #custom-option-label-text"

[widgets.custom-options-that-persist]
widget = "include"
file = "examples/custom-options-that-persist.html"
selector = ".example #custom-options-that-persist"

[widgets.datalist-multi-select-value-changed-event]
widget = "include"
file = "examples/datalist-multi-select-value-changed-event.html"
selector = ".example #datalist-multi-select-value-changed-event"

[widgets.datalist-single-select-value-changed-event]
widget = "include"
file = "examples/datalist-single-select-value-changed-event.html"
selector = ".example #datalist-single-select-value-changed-event"

[widgets.default-clear-button]
widget = "include"
file = "examples/default-clear-button.html"
selector = ".example #default-clear-button"

[widgets.default-option-group-ordering]
widget = "include"
file = "examples/default-option-group-ordering.html"
selector = ".example #default-option-group-ordering"

[widgets.disabled-much-select]
widget = "include"
file = "examples/disabled-much-select.html"
selector = ".example #disabled-much-select"

[widgets.disabled-options]
widget = "include"
file = "examples/disabled-options.html"
selector = ".example #disabled-options"

[widgets.empty-option-with-label-and-other-options-2]
widget = "include"
file = "examples/empty-option-with-label-and-other-options-2.html"
selector = ".example #empty-option-with-label-and-other-options-2"

[widgets.empty-option-with-label-and-other-options]
widget = "include"
file = "examples/empty-option-with-label-and-other-options.html"
selector = ".example #empty-option-with-label-and-other-options"

[widgets.empty-option]
widget = "include"
file = "examples/empty-option.html"
selector = ".example #empty-option"

[widgets.empty-options-multi-select]
widget = "include"
file = "examples/empty-options-multi-select.html"
selector = ".example #empty-options-multi-select"

[widgets.empty-selected-value-empty-select-input]
widget = "include"
file = "examples/empty-selected-value-empty-select-input.html"
selector = ".example #empty-selected-value-empty-select-input"

[widgets.empty-selected-value-no-options]
widget = "include"
file = "examples/empty-selected-value-no-options.html"
selector = ".example #empty-selected-value-no-options"

[widgets.events-only-mode]
widget = "include"
file = "examples/events-only-mode.html"
selector = ".example #events-only-mode"

[widgets.hidden-input-json-encoding-slot]
widget = "include"
file = "examples/hidden-input-json-encoding-slot.html"
selector = ".example #hidden-input-json-encoding-slot"

[widgets.hidden-input-slot]
widget = "include"
file = "examples/hidden-input-slot.html"
selector = ".example #hidden-input-slot"

[widgets.labels-and-values]
widget = "include"
file = "examples/labels-and-values.html"
selector = ".example #labels-and-values"

[widgets.loading-indicator]
widget = "include"
file = "examples/loading-indicator.html"
selector = ".example #loading-indicator"

[widgets.max-dropdown-items]
widget = "include"
file = "examples/max-dropdown-items.html"
selector = ".example #max-dropdown-items"

[widgets.max-number-of-dropdown-items-big-list]
widget = "include"
file = "examples/max-number-of-dropdown-items-big-list.html"
selector = ".example #max-number-of-dropdown-items-big-list"

[widgets.max-number-of-dropdown-items]
widget = "include"
file = "examples/max-number-of-dropdown-items.html"
selector = ".example #max-number-of-dropdown-items"

[widgets.minimum-search-string-length]
widget = "include"
file = "examples/minimum-search-string-length.html"
selector = ".example #minimum-search-string-length"

[widgets.move-selected-item-to-top]
widget = "include"
file = "examples/move-selected-item-to-top.html"
selector = ".example #move-selected-item-to-top"

[widgets.much-select-ready-event]
widget = "include"
file = "examples/much-select-ready-event.html"
selector = ".example #much-select-ready-event"

[widgets.multi-select-blur-or-unfocused-value-change]
widget = "include"
file = "examples/multi-select-blur-or-unfocused-value-change.html"
selector = ".example #multi-select-blur-or-unfocused-value-change"

[widgets.multi-select-comma-seperated-values]
widget = "include"
file = "examples/multi-select-comma-seperated-values.html"
selector = ".example #multi-select-comma-seperated-values"

[widgets.multi-select-json-seperated-values]
widget = "include"
file = "examples/multi-select-json-seperated-values.html"
selector = ".example #multi-select-json-seperated-values"

[widgets.multi-select-single-item-removal]
widget = "include"
file = "examples/multi-select-single-item-removal.html"
selector = ".example #multi-select-single-item-removal"

[widgets.multi-select-value-changed-event]
widget = "include"
file = "examples/multi-select-value-changed-event.html"
selector = ".example #multi-select-value-changed-event"

[widgets.multi-select-value-cleared]
widget = "include"
file = "examples/multi-select-value-cleared.html"
selector = ".example #multi-select-value-cleared"

[widgets.multi-select]
widget = "include"
file = "examples/multi-select.html"
selector = ".example #multi-select"

[widgets.no-value-no-options]
widget = "include"
file = "examples/no-value-no-options.html"
selector = ".example #no-value-no-options"

[widgets.not-just-english-options]
widget = "include"
file = "examples/not-just-english-options.html"
selector = ".example #not-just-english-options"

[widgets.one-empty-option-with-a-label]
widget = "include"
file = "examples/one-empty-option-with-a-label.html"
selector = ".example #one-empty-option-with-a-label"

[widgets.option-groups]
widget = "include"
file = "examples/option-groups.html"
selector = ".example #option-groups"

[widgets.options-with-descriptions]
widget = "include"
file = "examples/options-with-descriptions.html"
selector = ".example #options-with-descriptions"

[widgets.output-style-datalist-multi-select-with-selected-values-json-value-selected]
widget = "include"
file = "examples/output-style-datalist-multi-select-with-selected-values-json-value-selected.html"
selector = ".example #output-style-datalist-multi-select-with-selected-values-json-value-selected"

[widgets.output-style-datalist-multi-select-with-selected-values]
widget = "include"
file = "examples/output-style-datalist-multi-select-with-selected-values.html"
selector = ".example #output-style-datalist-multi-select-with-selected-values"

[widgets.output-style-datalist-multi-select]
widget = "include"
file = "examples/output-style-datalist-multi-select.html"
selector = ".example #output-style-datalist-multi-select"

[widgets.output-style-datalist]
widget = "include"
file = "examples/output-style-datalist.html"
selector = ".example #output-style-datalist"

[widgets.override-loading-indicator]
widget = "include"
file = "examples/override-loading-indicator.html"
selector = ".example #override-loading-indicator"

[widgets.override-no-filtered-options-slot]
widget = "include"
file = "examples/override-no-filtered-options-slot.html"
selector = ".example #override-no-filtered-options-slot"

[widgets.override-no-options-slot]
widget = "include"
file = "examples/override-no-options-slot.html"
selector = ".example #override-no-options-slot"

[widgets.override-the-clear-button-with-an-svg]
widget = "include"
file = "examples/override-the-clear-button-with-an-svg.html"
selector = ".example #override-the-clear-button-with-an-svg"

[widgets.override-the-clear-button]
widget = "include"
file = "examples/override-the-clear-button.html"
selector = ".example #override-the-clear-button"

[widgets.placeholder]
widget = "include"
file = "examples/placeholder.html"
selector = ".example #placeholder"

[widgets.remote-api-example]
widget = "include"
file = "examples/remote-api-example.html"
selector = ".example #remote-api-example"

[widgets.remove-an-option-from-a-much-select]
widget = "include"
file = "examples/remove-an-option-from-a-much-select.html"
selector = ".example #remove-an-option-from-a-much-select"

[widgets.search-keyboard-events]
widget = "include"
file = "examples/search-keyboard-events.html"
selector = ".example #search-keyboard-events"

[widgets.select-and-deselect-option-from-a-much-select]
widget = "include"
file = "examples/select-and-deselect-option-from-a-much-select.html"
selector = ".example #select-and-deselect-option-from-a-much-select"

[widgets.select-multiple-options-in-a-multi-much-select]
widget = "include"
file = "examples/select-multiple-options-in-a-multi-much-select.html"
selector = ".example #select-multiple-options-in-a-multi-much-select"

[widgets.selected-option-with-async-options-small]
widget = "include"
file = "examples/selected-option-with-async-options-small.html"
selector = ".example #selected-option-with-async-options-small"

[widgets.selected-option-with-async-options]
widget = "include"
file = "examples/selected-option-with-async-options.html"
selector = ".example #selected-option-with-async-options"

[widgets.selected-option-with-multi-select-with-async-options-small]
widget = "include"
file = "examples/selected-option-with-multi-select-with-async-options-small.html"
selector = ".example #selected-option-with-multi-select-with-async-options-small"

[widgets.selected-value]
widget = "include"
file = "examples/selected-value.html"
selector = ".example #selected-value"

[widgets.show-dropdown-footer]
widget = "include"
file = "examples/show-dropdown-footer.html"
selector = ".example #show-dropdown-footer"

[widgets.simple-example]
widget = "include"
file = "examples/simple-example.html"
selector = ".example #simple-example"

[widgets.single-select-blur-or-unfocused-value-change]
widget = "include"
file = "examples/single-select-blur-or-unfocused-value-change.html"
selector = ".example #single-select-blur-or-unfocused-value-change"

[widgets.single-select-json-seperated-values]
widget = "include"
file = "examples/single-select-json-seperated-values.html"
selector = ".example #single-select-json-seperated-values"

[widgets.single-select-option-deselected-event]
widget = "include"
file = "examples/single-select-option-deselected-event.html"
selector = ".example #single-select-option-deselected-event"

[widgets.single-select-option-selected-event]
widget = "include"
file = "examples/single-select-option-selected-event.html"
selector = ".example #single-select-option-selected-event"

[widgets.single-select-value-changed-event]
widget = "include"
file = "examples/single-select-value-changed-event.html"
selector = ".example #single-select-value-changed-event"

[widgets.switch-between-datalist-and-custom-html]
widget = "include"
file = "examples/switch-between-datalist-and-custom-html.html"
selector = ".example #switch-between-datalist-and-custom-html"

[widgets.switch-between-multi-select-and-single-select]
widget = "include"
file = "examples/switch-between-multi-select-and-single-select.html"
selector = ".example #switch-between-multi-select-and-single-select"

[widgets.ten-thousand-options]
widget = "include"
file = "examples/ten-thousand-options.html"
selector = ".example #ten-thousand-options"

[widgets.update-options-add-options-to-a-much-select]
widget = "include"
file = "examples/update-options-add-options-to-a-much-select.html"
selector = ".example #update-options-add-options-to-a-much-select"

[widgets.update-options-add-options-to-an-empty-much-select]
widget = "include"
file = "examples/update-options-add-options-to-an-empty-much-select.html"
selector = ".example #update-options-add-options-to-an-empty-much-select"

[widgets.validation-and-transformation-slot-custom-validation]
widget = "include"
file = "examples/validation-and-transformation-slot-custom-validation.html"
selector = ".example #validation-and-transformation-slot-custom-validation"

[widgets.validation-and-transformation-slot-multi-custom-html]
widget = "include"
file = "examples/validation-and-transformation-slot-multi-custom-html.html"
selector = ".example #validation-and-transformation-slot-multi-custom-html"

[widgets.validation-and-transformation-slot-multi-datalist]
widget = "include"
file = "examples/validation-and-transformation-slot-multi-datalist.html"
selector = ".example #validation-and-transformation-slot-multi-datalist"

[widgets.validation-and-transformation-slot-single-custom-html]
widget = "include"
file = "examples/validation-and-transformation-slot-single-custom-html.html"
selector = ".example #validation-and-transformation-slot-single-custom-html"

[widgets.validation-and-transformation-slot-single-datalist]
widget = "include"
file = "examples/validation-and-transformation-slot-single-datalist.html"
selector = ".example #validation-and-transformation-slot-single-datalist"

