body {
    --primary: #0275d8;
    --success: #5cb85c;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --inverse: #292b2c;
    --faded: #f7f7f7;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: stretch;
    justify-content: center;
}

.container > div {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid var(--primary);
    box-shadow: 2px 2px 5px 0px var(--inverse);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

nav.site-nav {
    padding: 0.25em;
    background-color: var(--info);
}

nav.offsite-nav {
    padding: 0.25em;
    background-color: var(--success);
}

nav ol {
    margin: 0.25em;
    display: flex;
    flex-wrap: wrap;
}

nav.offsite-nav ol {
    place-content: end;
}

nav ol > li {
    margin: 0.5em;
    list-style-type: none;
    white-space: nowrap;
}

nav ol > li > a {
    padding: 1em;
}

nav ol > li > a:hover {
    background-color: var(--faded);
}


much-select:not(:defined) {
    visibility: hidden;
}

much-select {
    display: inline-block;
    margin: 10px 0;
}
