/*
Fun colors https://flatuicolors.com/palette/se
Boring colors https://flatuicolors.com/palette/gb
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
    /* Fun colors */
    --highligher-pink: #ef5777;
    --dark-periwinkle: #575fcf;
    --megaman: #4bcffa;
    --fresh-turquoise: #34e7e4;
    --minty-green: #0be881;
    --sizeling-red: #f53b57;
    --free-speech-blue: #3c40c6;
    --spirio-disco-ball: #0fbcf9;
    --jade-dust: #00d8d6;
    --green-teal: #05c46b;
    --narenjin-orange: #ffc048;
    --yriel-yellow: #ffdd59;
    --sunset-orange: #ff5e57;
    --hint-of-elusive-blue: #d2dae2;
    --good-night: #485460;
    --chrome-yellow: #ffa801;
    --vibrant-yellow: #ffd32a;
    --red-orange: #ff3f34;
    --london-square: #808e9b;
    --black-pearl: #1e272e;

    /* Boring colors */
    --protoss-pylon: #00a8ff;
    --periwinkle: #9c88ff;
    --rise-n-shine: #fbc531;
    --download-progress: #4cd137;
    --sea-brook: #487eb0;
    --vanadyl-blue: #0097e6;
    --matt-purple: #8c7ae6;
    --nanohanacha-gold: #e1b12c;
    --street-green: #44bd32;
    --naval: #40739e;
    --nasturcian-flower: #e84118;
    --lynx-white: #f5f6fa;
    --blueberry-soda: #7f8fa6;
    --mazarine-blue: #273c75;
    --blue-nights: #353b48;
    --harley-davidson-orange: #c23616;
    --hint-of-pensive: #dcdde1;
    --chain-gang-grey: #718093;
    --pico-void: #192a56;
    --electromagnetic: #2f3640;

    --much-select-height: 36px;
}

@media (prefers-color-scheme: light) {
    body,
    body.boring {
        --background-color: var(--lynx-white);
        --text-color: var(--electromagnetic);
        --link-text-color: var(--mazarine-blue);
        --nav-link-text-color: var(--pico-void);
        --nav-link-text-hover-background-color: var(--vanadyl-blue);
        --header-font: "Andale Mono";
        --body-font: "Times New Roman";
        --form-font: "Andale Mono";
        --site-nav-background-color: var(--hint-of-pensive);
        --offsite-nav-background-color: var(--matt-purple);

        --example-background-color: var(--hint-of-pensive);
        --example-border-color: var(--blueberry-soda);
        --example-border-shadow-color: var(--mazarine-blue);

        --much-select-background-color: var(--lynx-white);
        --much-select-border-color: var(--matt-purple);
        --much-select-error-border-color: var(--nasturcian-flower);
    }

    body.fun {
        --background-color: var(--hint-of-elusive-blue);
        --text-color: var(--black-pearl);
        --link-text-color: var(--free-speech-blue);
        --nav-link-text-color: var(--free-speech-blue);
        --header-font: "Comic Sans MS";
        --body-font: 'DM Sans', sans-serif;
        --form-font: 'DM Sans', sans-serif;
        --site-nav-background-color: var(--megaman);
        --offsite-nav-background-color: var(--fresh-turquoise);

        --example-background-color: var(--yriel-yellow);
        --example-border-color: var(--red-orange);
        --example-border-shadow-color: var(--sunset-orange);

        --much-select-background-color: var(--hint-of-elusive-blue);
        --much-select-disabled-background-color: var(--london-square);
        --much-select-error-background-color: var(--yriel-yellow);
        --much-select-border-color: var(--jade-dust);
        --much-select-hover-border-color: var(--spirio-disco-ball);
        --much-select-error-border-color: var(--nasturcian-flower);
        --much-select-disabled-border-color: var(--hint-of-elusive-blue);
    }
}

@media (prefers-color-scheme: dark) {
    body,
    body.boring {
        --background-color: var(--electromagnetic);
        --text-color: var(--hint-of-pensive);
        --link-text-color: var(--periwinkle);
        --nav-link-text-color: var(--rise-n-shine);
        --nav-link-text-hover-background-color: var(--sea-brook);
        --header-font: "Andale Mono";
        --body-font: "Times New Roman";
        --form-font: "Andale Mono";
        --site-nav-background-color: var(--matt-purple);
        --offsite-nav-background-color: var(--vanadyl-blue);

        --example-background-color: var(--pico-void);
        --example-border-color: var(--blueberry-soda);
        --example-border-shadow-color: var(--chain-gang-grey);

        --much-select-background-color: var(--electromagnetic);
        --much-select-border-color: var(--matt-purple);
        --much-select-error-border-color: var(--harley-davidson-orange);
    }

    body.fun {
        --background-color: var(--good-night);
        --text-color: var(--vibrant-yellow);
        --link-text-color: var(--minty-green);
        --nav-link-text-color: var(--green-teal);
        --header-font: "Comic Sans MS";
        --body-font: 'DM Sans', sans-serif;
        --form-font: 'DM Sans', sans-serif;
        --site-nav-background-color: var(--dark-periwinkle);
        --offsite-nav-background-color: var(--free-speech-blue);

        --example-background-color: var(--black-pearl);
        --example-border-color: var(--sizeling-red);
        --example-border-shadow-color: var(--highligher-pink);

        --much-select-background-color: var(--good-night);
        --much-select-border-color: var(--jade-dust);
        --much-select-error-border-color: var(--sunset-orange);
    }


}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
}

:any-link {
    color: var(--link-text-color);
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: end;
}

#header #site-title {
    flex: 0 1 300px;
    white-space: nowrap;
}

#header #page-name {
    flex: 0 1 300px;
}

#header #sub-title {
    flex: 0 1 300px;
}


h1 {
    font-family: var(--header-font);
}

h2 {
    font-family: var(--header-font);
}

h3 {
    font-family: var(--header-font);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: start;
}

.container > .example {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid var(--example-border-color);
    box-shadow: 2px 2px 5px 0 var(--example-border-shadow-color);
    border-radius: 12px;
    max-width: 400px;
    background-color: var(--example-background-color);
    flex: 0 1 400px;
}

nav {
    margin: 0.25em;
    border-radius: 12px;
    font-family: var(--header-font);
}

nav a:any-link {
    color: var(--nav-link-text-color);
}

nav.site-nav {
    padding: 0.25em;
    background-color: var(--site-nav-background-color);
}

nav.offsite-nav {
    padding: 0.25em;
    background-color: var(--offsite-nav-background-color);
}

nav ol {
    margin: 0.25em;
    display: flex;
    flex-wrap: wrap;
}

nav.offsite-nav ol {
    place-content: end;
}

nav ol > li {
    margin: 0.5em;
    list-style-type: none;
    white-space: nowrap;
}

nav ol > li > a {
    padding: 1em;
}

nav ol > li > a:hover {
    background-color: var(--nav-link-text-hover-background-color);
}


much-select:not(:defined) {
    visibility: hidden;
}

much-select {
    display: inline-block;
    margin: 10px 0;
    max-width: 300px;
}

button {
    font-family: var(--form-font);
}


much-select::part(wrapper) {
    font: var(--body-font);
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}


much-select::part(input-wrapper) {
    display: flex;
}

much-select::part(value-casing) {
    display: flex;
    flex-flow: column;
    min-height: var(--much-select-height);
}

much-select::part(value-casing output-style-custom-html) {
    background-color: var(--much-select-background-color);
    box-shadow: 1px 1px 1px 0 lightgray inset;
    padding: 4px 3px 2px 3px;
}

much-select::part(value-casing output-style-custom-html) {
    flex-flow: row;
    cursor: pointer;
    border: 1px solid var(--much-select-border-color);
}

much-select::part(value-casing output-style-custom-html error) {
    border: 1px solid var(--much-select-error-border-color);
}

much-select::part(value-casing output-style-custom-html multi) {
    flex-flow: row wrap;
}

much-select::part(value-casing output-style-datalist) {
    flex-flow: column;
    cursor: pointer;
    border: 1px solid var(--much-select-border-color);
}

much-select::part(input-value) {
    min-height: var(--much-select-height);
}


much-select::part(value-casing output-style-datalist error) {
    border: 1px solid var(--much-select-error-border-color);
}

much-select::part(value-casing output-style-custom-html):hover {
    outline: none;
    border-color: var(--much-select-hover-border-color);
}


much-select::part(value-casing output-style-custom-html):focus {
    outline: none;
    border-color: var(--example-border-color);
}


much-select::part(value-casing output-style-custom-html disabled) {
    border: 1px solid var(--much-select-disabled-border-color);
    cursor: pointer;
}

much-select::part(value-casing output-style-custom-html single) {
    background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
    background-repeat: repeat-x;
}

much-select::part(value-casing single disabled) {
    background-image: none;
    background-color: var(--much-select-disabled-background-color);
}

much-select::part(input-filter) {
    /*
    TODO, seems like the height and font-size should not be hardcoded.
    */
    height: 36px;
    font-size: 25px;
    /* The min-width let's the input shrink down as far as it needs to.
    The with width lets it grow as much as it can.
    */
    min-width: 10px;
    /* Let's give the input a bit more room than the selected values.
    */
    flex-grow: 3;
    flex-shrink: 0;
    flex-basis: 10%;

    /* We don't want a border because the value-casing will supply the border for
      this input.
    */
    border: none;

    /*
    We do not want an outline on the input (filter) because we want everything
    inside of the #value-casing to (kinda) act like a text input.
    */
    outline: none;
    background: none;
}

much-select::part(input-filter):hover, much-select::part(input-filter):focus {
    /*
        We do not want an outline on the input (filter) because we want everything
        inside of the #value-casing to (kinda) act like a text input.
        */
    outline: none;
    background: var(--much-select-background-color);
}

much-select::part(input-filter):hover, much-select::part(input-filter):focus {
    /*
        Removing the default background color on the disabled input.
        We might want to do some additional styling for "disabled"
        much-selects but that should probably happen on the value-casing
        div.
        */
    background: none;
}

much-select::part(input-filter):hover, much-select::part(input-filter):focus {
    /*
        Removing the default background color on the disabled input.
        We might want to do some additional styling for "disabled"
        much-selects but that should probably happen on the value-casing
        div.
        */
    background: none;
}

much-select::part(value) {
    padding: 3px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to bottom, #4f6a8f, #88a2bc);
    background-repeat: repeat-x;
    margin: 2px 2px;
    border-radius: 5px;
    border: 3px solid #d99477;
    min-width: 10px;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

much-select::part(value highlighted-value) {
    background-image: linear-gradient(to bottom, #d99477, #efb680);
    background-repeat: repeat-x;
}

much-select::part(dropdown-indicator) {
    position: absolute;
    right: 5px;
    top: 15px;
    cursor: pointer;
    display: block;
    transition: transform 0.25s;
    font-family: "Times New Roman", serif;
}

much-select::part(dropdown-indicator up) {
    transform: rotate(180deg);
}

much-select::part(dropdown-indicator down) {
    transform: rotate(0deg);
}

much-select::part(clear-button-wrapper) {
    display: block;
    position: absolute;
    right: 3px;
    top: 7px;
    cursor: pointer;
}

much-select::part(dropdown) {
    background-color: #EEEEEE;
    font-size: 20px;
    max-height: 300px;
}

much-select::part(dropdown-optgroup) {
    background-color: gray;
    font-size: 0.85rem;
    font-weight: 300;
    padding: 5px;
}

much-select::part(dropdown-option) {
    background-color: silver;
    padding: 5px;
    cursor: pointer;
}

much-select::part(dropdown-option selected) {
    background-color: silver;
    padding: 5px;
    cursor: pointer;
}

much-select::part(dropdown-option highlighted) {
    background-color: indigo;
    color: ghostwhite;
}

much-select::part(dropdown-option disabled) {
    background-color: LightGray;
    color: silver;
    cursor: default;
}

much-select::part(dropdown-option-description) {
    font-size: 0.85rem;
    padding: 3px;
}

much-select::part(dropdown-footer) {
    font-size: 50%;
    text-align: center;
    color: gray;
    background-color: lightgray;
    padding: 5px;
}
