/*
Fun colors https://flatuicolors.com/palette/se
Boring colors https://flatuicolors.com/palette/gb
*/


body {
    /* Fun colors */
    --highligher-pink: #ef5777;
    --dark-periwinkle: #575fcf;
    --megaman: #4bcffa;
    --fresh-turquoise: #34e7e4;
    --minty-green: #0be881;
    --sizeling-red: #f53b57;

    /* Boring colors */
    --protoss-pylon: #00a8ff;
    --periwinkle: #9c88ff;
    --rise-n-shine: #fbc531;
    --download-progress: #4cd137;
    --sea-brook: #487eb0;
    --vanadyl-blue: #0097e6;
    --matt-purple: #8c7ae6;
    --nanohanacha-gold: #e1b12c;
    --street-green: #44bd32;
    --naval: #40739e;
    --nasturcian-flower: #e84118;
    --lynx-white: #f5f6fa;
    --blueberry-soda: #7f8fa6;
    --mazarine-blue: #273c75;
    --blue-nights: #353b48;
    --harley-davidson-orange: #c23616;
    --hint-of-pensive: #dcdde1;
    --chain-gang-grey: #718093;
    --pico-void: #192a56;
    --electromagnetic: #2f3640;
}

@media (prefers-color-scheme: light) {
    body,
    body.boring {
        --background-color: #f5f6fa;
        --text-color: #2f3640;
        --link-text-color: #273c75;
        --nav-link-text-color: #192a56;
        --header-font: "Andale Mono";
        --body-font: "Times New Roman";
        --site-nav-background-color: #dcdde1;
        --offsite-nav-background-color: #9c88ff;

        --example-background-color: #dcdde1;
        --example-border-color: var(--blueberry-soda);
        --example-border-shadow-color: var(--mazarine-blue);
    }

    body.fun {
        --background-color: #ecf0f1;
        --text-color: #34495e;
        --link-text-color: #2980b9;
        --nav-link-text-color: #e74c3c;
        --header-font: "Comic Sans MS";
        --body-font: "Times New Roman";
        --site-nav-background-color: #2ecc71;
        --offsite-nav-background-color: #1abc9c;
    }
}

@media (prefers-color-scheme: dark) {
    body,
    body.boring {
        --background-color: #2f3640;
        --text-color: #dcdde1;
        --link-text-color: #44bd32;
        --nav-link-text-color: #fbc531;
        --header-font: "Andale Mono";
        --body-font: "Times New Roman";
        --site-nav-background-color: #8c7ae6;
        --offsite-nav-background-color: #40739e;
    }

    body.fun {
        --background-color: #485460;
        --text-color: #ffdd59;
        --link-text-color: #ffa801;
        --nav-link-text-color: #ffa801;
        --header-font: "Comic Sans MS";
        --body-font: "Times New Roman";
        --site-nav-background-color: #575fcf;
        --offsite-nav-background-color: #3c40c6;
    }


}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
}

:any-link {
    color: var(--link-text-color);
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

h1 {
    font-family: var(--header-font);
}

h2 {
    font-family: var(--header-font);
}

h3 {
    font-family: var(--header-font);
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.container > .example {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid var(--example-border-color);
    box-shadow: 2px 2px 5px 0 var(--example-border-shadow-color);
    border-radius: 12px;
    max-width: 400px;
    background-color: var(--example-background-color);
}

nav {
    margin: 0.25em;
    border-radius: 12px;
    font-family: var(--header-font);
}

nav a:any-link {
    color: var(--nav-link-text-color);
}

nav.site-nav {
    padding: 0.25em;
    background-color: var(--site-nav-background-color);
}

nav.offsite-nav {
    padding: 0.25em;
    background-color: var(--offsite-nav-background-color);
}

nav ol {
    margin: 0.25em;
    display: flex;
    flex-wrap: wrap;
}

nav.offsite-nav ol {
    place-content: end;
}

nav ol > li {
    margin: 0.5em;
    list-style-type: none;
    white-space: nowrap;
}

nav ol > li > a {
    padding: 1em;
}

nav ol > li > a:hover {
    background-color: var(--faded);
}


much-select:not(:defined) {
    visibility: hidden;
}

much-select {
    display: inline-block;
    margin: 10px 0;
    max-width: 300px;
}

button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

iframe {
    border: none;
}
