<nav class="offsite-nav">
  <ol>
    <li class="main-nav-item"><a href="https://github.com/DripEmail/much-select-elm">Github</a></li>
    <li class="main-nav-item"><a href="https://www.npmjs.com/package/@getdrip/much-select-elm">NPM</a></li>
    <li class="main-nav-item"><a href="https://github.com/DripEmail/much-select-elm/wiki/Related-Projects">Related Projects/Inspiration</a></li>
    <li class="main-nav-item"><a href="https://en.wikipedia.org/wiki/Doge_(meme)">Doge (meme)</a></li>
    <li class="main-nav-item"><a href="https://elm-lang.org/">Elm</a></li>
    <li class="main-nav-item"><a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">Web Components</a></li>
    <li class="main-nav-item"><a href="https://modern-web.dev/">Modern Web</a></li>
  </ol>
</nav>
<nav class="site-nav">
  <ol>
    <li class="main-nav-item"><a href="/">Home</a></li>
    <li class="main-nav-item"><a href="/attributes">Attributes</a></li>
    <li class="main-nav-item"><a href="/initial-value">Initial Value</a></li>
    <li class="main-nav-item"><a href="/option-api">Option API</a></li>
    <li class="main-nav-item"><a href="/events">Events</a></li>
    <li class="main-nav-item"><a href="/empty-options">Empty Options</a></li>
    <li class="main-nav-item"><a href="/dropdown-options">Dropdown Options</a></li>
    <li class="main-nav-item"><a href="/output-style-datalist">Datalist (output style)</a></li>
    <li class="main-nav-item"><a href="/custom-options">Custom Options</a></li>
    <li class="main-nav-item"><a href="/slots">Slots</a></li>
    <li class="main-nav-item"><a href="/multi-select">Multi Select</a></li>
    <li class="main-nav-item"><a href="/selected-value-encoding">Selected Value Encoding</a></li>
    <li class="main-nav-item"><a href="/sans-css">Default CSS</a></li>
    <li class="main-nav-item"><a href="/transform-and-validate">Transform and Validate</a></li>
    <li class="main-nav-item"><a href="/styling">Styling</a></li>
    <li class="main-nav-item"><a href="/elm-demo">Elm Demo</a></li>
  </ol>
</nav>
<nav>
  <button id="fun-style">fun</button>
  <button id="boring-style">boring</button>
</nav>
